* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100vw;
}

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 16px;
    
    margin-left: auto;
  }

  .logo {
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
  }
  
  .nav-link ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  header img {
    max-height: 45px;
    max-width: 300;
    padding: 0;
    margin: 0;
  }

  .welcome {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    width: 100vw;
    margin: 0;
    padding-bottom: 64px;
    color: #f9faf8;
  }

  .start-info {
    display:flex;
    flex-direction: column;
    max-width: 500px;
  }



  .image img {
    max-height: 300px;
    max-width: 400px;
    padding: 0;
    margin: 0;
  }

  header, footer {
    background-color: #1f2937;
  }

  footer {
    width: 100vw;
    text-align: center;
    color: #f9faf8;
  }

  h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;

  }

  .start-info p {
    font-size: 18px;
    color: #e5e7eb;
  }

  button {
    border-radius: 6px;
    background-color: #3882f6;
    color: inherit;
    max-width: 120px;
    padding: 4px 16px;

  }
  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 20px;
    background-color: #e5e7eb;
    padding: 60px 0;
  }

  .quote cite {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
  }

  blockquote, cite {
    max-width: 800px;
  }

  blockquote  {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    
  }

  .middle img {
    max-width: 140px;
    max-height: 140px;
  }

  .middle {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 70px;
    flex-direction: center;
    gap: 55px;

  }
 
  .middle div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .action {
    display: flex;
    margin-top: 45px;
    margin-bottom: 50px;
    padding: 35px 70px;
    flex-direction: center;
    gap: 55px;
    background-color: #3882f6;
    border-radius: 12px;
    color: #e5e7eb;
    

  }

  .action button {
    background-color: #3882f6;
    border-color: #e5e7eb;
    color: #e5e7eb;
    margin:auto;
    width: 120px;
    padding: 4px 16px;
    
    
  }

  .action h4, .action p {
    margin: 0;

  }